@use '../../../variables';

.wrapper{
    padding: 2rem;
    background-color: variables.$background-body-color;
    margin-bottom: 3.3rem;

    h2{
        color: white;
        margin-bottom: 1rem;
        font-size: 36px;
    }
}

.card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    &__item{

    }
}
.search {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;

    input {
        width: 100%;
        background-color: variables.$search-color;
        border: none;
        padding: .6rem;
    }

    svg {
        position: absolute;
        right: 0;
        color: variables.$background-box-color;
    }
}