@use '../../variables';


.button {
    width: 249px;
    height: 54px;
    background-color: variables.$background-button-color;
    color: variables.$light-text-color;
    border-radius: 9px;
    border: none;
    font-family: "ubuntu", "sans-serif";
    font-size: 18px;
    
}
.button-link{
    width: 249px;
    height: 54px;
    background-color: variables.$background-button-color;
    color: variables.$light-text-color;
    border-radius: 9px;
    border: none;
    font-family: "ubuntu", "sans-serif";
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    align-self: center;
}