@use '../../../variables';

body {
    background-color: variables.$background-body-color;
    margin: 1.5rem;
    font-family: Ubunto, sans-serif;
}

.heading{
    color: variables.$light-text-color;
    padding-left: .4rem;
}

.kalender {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding: 2rem;
        gap: .2rem;
        background-color: variables.$background-box-color;
        width: 356px;
        height: 107px;
        border-radius: 11px;
        font-size: 18px;
    }
}