@use '../../variables';

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        text-transform: uppercase;

        &__first {
            font-size: 36px;
            font-family: Roboto, sans-serif;
            -webkit-text-stroke: 2px variables.$first-title-color;
            color: transparent;

        }

        &__second {
            font-size: 72px;
            font-family: Racing-Sans-One, sans-serif;
            color: variables.$second-title-color;
        }
    }


    &__block {
        height: 20px;
        width: 242px;
        background-color: variables.$block-color;
    }

}

.button-link {
    animation: animate 1.5s;
}

@keyframes animate {
    from {

        opacity: 0;
    }

    to {

        opacity: 1;
    }
}