$background-box-color:#eaeaea;
$light-text-color:#eaeaea;
$dark-text-color:#000000;
$background-body-color:#5e2e53;
$background-button-color:#5e2e53;
$content-div-color:#e1a1e9;
$opacity-content-div-color:rgba(225, 161, 233, 0.8);
$first-title-color:#431567;
$second-title-color:#E856EB;
$block-color:#913693;
$search-color:rgb(196, 196, 196, 0.3);