$background-box-color:#eaeaea;
$light-text-color:#eaeaea;
$dark-text-color:#000000;
$background-body-color:#5e2e53;
$background-button-color:#5e2e53;
$content-div-color:#e1a1e9;
$first-title-color:#431567;
$second-title-color:#E856EB;
